#myGalaxy{
    width:30%;
    height:auto;
    
}

#cross1{
    height:102px;
    width:175px;
    position: absolute;
    top:100px;
    left:44px;
}

#cross2{
    height:102px;
    width:175px;
    position: absolute;
    top:125px;
    left:86px;
    transform:rotate(60deg);
}

#cross3{
    height:102px;
    width:175px;
    position: absolute;
    top:124px;
    left:1px;
    transform:rotate(300deg);
}

#cross4{
    height:102px;
    width:175px;
    position: absolute;
    top:200px;
    left:44px;
}

#cross5{ 
    height:102px;
    width:175px;
    position: absolute;
    top:174px;
    left:87px;
    transform:rotate(300deg);
}
#cross6{
    height:102px;
    width:175px;
    position: absolute;
    top:175px;
    left:-1px;
    transform:rotate(60deg);
}

#line1{
    height:100px;
    width:2px;
    position: absolute;
    top:75px;
    left:85px;
    transform:rotate(60deg);
   
}

#line2{
    height:100px;
    width:2px;
    position: absolute;
    top:75px;
    left:174px;
    transform:rotate(300deg);
   
}

#line3{
    height:100px;
    width:2px;
    position: absolute;
    top:151px;
    left:217px;
    
}

#line4{
    height:100px;
    width:2px;
    position: absolute;
    top:150px;
    left:43px;
  
}

#line5{
    height:100px;
    width:2px;
    position: absolute;
    top:225px;
    left:88px;
    transform:rotate(300deg);

}

#line6{
    height:100px;
    width:2px;
    position: absolute;
    top:225px;
    left:173px;
    transform:rotate(60deg);
  
}

#coolestNavBar{
    position: absolute;
    top:0px;
    left:30px;
    min-width:265px;
    min-height:395px;
    max-width:265px;
    max-height:395px;
}

#smLine{
    height:100px;
    width:2px;
    margin:auto;
    padding:auto;
    background-color:white;
    z-index: 1;
}

#mdLine{
    position: absolute;
    width:175px;
    height: 2px;
    background: white;
    top:49px;
    z-index: 2;
    opacity:1;
}

#lgLine{
    height:100px;
    width: 2px;
    background:white;
    
}

#tranCircle {
    position:absolute;
    background-color:  black;
    border: 2px solid  red;
    height:270px;
    width:270px;
    top:60px;
    left:-5px;
    -webkit-border-radius:135px;
    -moz-border-radius:135px;
}


#coolestNavBar:hover {
    
    -webkit-animation:spinz 4s linear;
    -moz-animation:spinz 4s linear;
    animation:spinz 4s linear;
    animation-iteration-count: infinite;
    
   
    
}
@-moz-keyframes spinz { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spinz { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spinz { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



#coolestNavBar:hover #mdLine{
    background: white;
    -webkit-animation:spin 1s ease-in-out;
    -moz-animation:spin 1s ease-in-out;
    animation:spin 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    opacity:1;    
    transition-delay:0s;
    

   
    
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }


#coolestNavBar:hover #lgLine{
    background: white;
    -webkit-animation:spin 1s ease-out ;
    -moz-animation:spin 1s ease-out ;
    animation:spin 1s ease-out;
    animation-iteration-count: infinite ;
    animation-delay: 2s;
    
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }

#coolestNavBar:hover #smLine{
    background:  white;
-webkit-animation:spin 1s linear;
-moz-animation:spin 1s linear;
animation:spin 1s linear;
animation-iteration-count: infinite;
animation-delay: 2s;


}
@-moz-keyframes spin { 100% { -moz-transform: rotate(180deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(180deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(180deg); transform:rotate(180deg); } }

#coolestNavBar:hover #tranCircle{
    background-color:  red;
    border: 2px solid;
    border-color:white;
}

#menuSlice{
    transform:scale(5);
    -webkit-animation:pinz 1s ease-out;
    -moz-animation:pinz 1s ease-out;
    animation:pinz 1s ease-out;
    animation-iteration-count: 1;
    
   
    
}

@-moz-keyframes pinz { 100% { -moz-transform: scale(1); } }
@-webkit-keyframes pinz { 100% { -webkit-transform: scale(1); } }
@keyframes pinz { 100% { -webkit-transform: scale(1); transform:scale(1); } }
